*.swp
tmp
input.txt
old/
output.txt
people-grouped.txt
people-revised.txt
people5.txt
plan2.txt
plan3.txt
plan4.txt
plan5.txt
raw_people.tsv
rbte.txt
rbte1.txt
tmp.txt
work2.txt
work3.txt
work4.txt
work5.txt
tests.sum
tests.log
