<!doctype html>

<html ng-app>
        <head>
                <title>QPlan Staff</title>
                <script src="./js/angular.min.js"></script>
                <script src="./js/staff.js"></script>
                <link rel="stylesheet" href="./css/qplan.css">
        </head>

        <body>
                <nav ng-include="'./partials/nav.html'"></nav>

                <div ng-controller="StaffCtrl">
                        <h3>Staff Availability Totals</h3>
                        <ul>
                                <li ng-repeat="skill in staff_data.skills">{{skill}}:
                                {{staff_data.bandwidth[skill]}}</li>
                        </ul>

                        <h3>Staff List</h3>
                        <ul ng-repeat="skill in staff_data.skills">
                                <li>{{skill}}</li>
                                <ol>
                                        <li ng-repeat="person in
                                        staff_data.people_by_skill[skill]">{{person.name}}</li>
                                </ol>
                        </ul>
                </div>
        </body>
</html>

