<!doctype html>

<html ng-app>
        <head>
                <title>QPlan Staff</title>
                <script src="./js/angular.min.js"></script>
                <script src="./js/staff.js"></script>
        </head>

        <body>
            <nav>
                <ul>
                        <li><a href='/'>QPlan</a></li>
                        <li><a href='/tracks.html'>Tracks</a></li>
                        <li><a href='/work.html'>Work</a></li>
                        <li><a href='/staff.html'>Staff</a></li>
                </ul>
            </nav>
        </body>

        <div ng-controller="StaffCtrl">
                <h3>Staff Availability Totals</h3>
                <ul>
                        <li ng-repeat="skill in staff_data.skills">{{skill}}:
                        {{staff_data.bandwidth[skill]}}</li>
                </ul>

                <h3>Staff List</h3>
                <ul ng-repeat="skill in staff_data.skills">
                        <li>{{skill}}</li>
                        <ol>
                                <li ng-repeat="person in
                                staff_data.people_by_skill[skill]">{{person.name}}</li>
                        </ol>
                </ul>
        </div>
</html>

