<!doctype html>

<html ng-app>
        <head>
                <title>QPlan Tracks</title>
                <script src="./js/angular.min.js"></script>
                <script src="./js/tracks.js"></script>
                <link rel="stylesheet" href="./css/qplan.css">
        </head>

        <body>
                <nav ng-include="'./partials/nav.html'"></nav>

                <div ng-controller="TracksCtrl">
                        <div ng-repeat="track in data.groups">
                                <h3>{{track}}</h3>
                                <table>
                                        <tr>
                                                <th>Rank</th>
                                                <th>Triage</th>
                                                <th>Name</th>
                                        </tr>
                                        <tr ng-repeat="work in
                                                data.work_hash[track]"
                                                class="above-cutline-{{work.rank <= data.cutline }}">
                                                <td>#{{work.rank}}</td>
                                                <td>{{work.triage.Triage}}</td>
                                                <td>{{work.name}}</td>
                                        </tr>
                                </table>
                        </div>
                </div>
        </body>

