body {
font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace
}

.is-feasible-false {
        color: red
}

tr.above-cutline-false td {
        background-color: #999
}


nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        position: fixed;
        z-index: 10;
}

nav li {
        min-width: 8em;
        margin-right: 0.5em;
        text-align: center;
        display: inline-block;
}

nav li a:link,
nav li a:visited {
        background-color: rgb(255, 255, 255);
        color: rgb(85, 85, 102);
        padding: 0.2em;
        text-decoration: none;
        font-weight: bold;
        margin: 0 0 0.2em 0;

        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;

        -webkit-box-shadow: 3px 3px 3px 3px rbga(43, 43, 77, 0.5);
        -moz-box-shadow: 3px 3px 3px 3px rbga(43, 43, 77, 0.5);
        box-shadow: 3px 3px 3px 3px rbga(43, 43, 77, 0.5);
}

nav li a:hover {
        background-color: rgba(255, 255, 255, 0.8);
        color: rgb(43, 43, 77);
}

div.content {
        margin-top: 50px;
}
