body {
font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace
}

.is-feasible-false {
        color: red
}

tr.above-cutline-false td {
        background-color: #999
}
